@media print, screen and (min-width: 768px) {
  ._sp {
    display: none;
  }
}

._pc {
  display: none;
}

@media print, screen and (min-width: 768px) {
  ._pc {
    display: block;
  }
}

body {
  color: white;
  background-color: #000;
  font-family: "Hiragino Mincho Pro", serif;
}

a {
  text-decoration: none;
  color: white;
}

img {
  width: 100%;
  height: auto;
}

.header-fixed {
  background-color: #4d0000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  z-index: 2;
}

.header-logo {
  width: 150px;
  margin-left: 30px;
}

.nav-btn {
  width: 52px;
  height: 30px;
  appearance: none;
  background: transparent;
  border: none;
  font: inherit;
  outline: none;
  position: relative;
  right: 30px;
}

.nav-btn span {
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: white;
  display: block;
  transition: transform 0.3s ease;
}

.nav-btn span:first-child {
  top: 0;
}

.nav-btn span:nth-child(2) {
  top: 0;
  bottom: 0;
  margin: auto;
}

.nav-btn span:last-child {
  bottom: 0;
}

.nav-btn.-active span {
  top: 0;
  bottom: 0;
  margin: auto;
  transition: transform 0.3s ease;
}

.nav-btn.-active span:first-child {
  transform: rotate(45deg);
}

.nav-btn.-active span:nth-child(2) {
  transform: rotate(45deg);
}

.nav-btn.-active span:last-child {
  transform: rotate(-45deg);
}

.nav {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: #000000cc;
  padding-top: 145px;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease;
}

.nav.-active {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s ease;
}

.nav-list {
  text-align: center;
  padding-bottom: 45px;
}

.header .nav-list .item + .item {
  margin-top: 20px;
}

@media print, screen and (min-width: 768px) {
  .header .nav-list .item + .item {
    margin-top: 0;
    margin-left: 20px;
  }
}

.nav-list a {
  color: white;
  font-size: 24px;
}

@media print, screen and (min-width: 768px) {
  .nav-btn {
    display: none;
  }

  .nav {
    width: initial;
    background-color: transparent;
    padding-top: 0;
    z-index: 3;
    left: inherit;
    right: 0;
    top: 38px;
    opacity: 1;
    visibility: visible;
  }

  .nav-list {
    display: flex;
    margin-right: 40px;
    padding-bottom: 0;
  }

  .nav-list a {
    font-size: 18px;
  }
}

.top {
  background-image: url(../image/top-bg.png);
  background-size: cover;
  background-position: center;
  height: 674px;
}

.top-title {
  font-size: 50px;
  padding-top: 240px;
  padding-bottom: 240px;
  text-align: center;
}

.top-title p:nth-child(2) {
  margin-top: 40px;
}

.cmn-title1 {
  font-size: 32px;
  text-align: center;
  padding-bottom: 40px;
  padding-top: 61px;
}

.english-title {
  font-size: 20px;
  text-align: center;
  padding-bottom: 60px;
}

.features-item {
  display: flex;
}

.features-item:nth-child(even) {
  flex-direction: row-reverse;
}

.features-item-image {
  width: 50%;
}

.features-item-text {
  width: 50%;
}

.features-item-box {
  margin: 45px 50px 0 50px;
}

.features-item-box p {
  font-size: 18px;
  padding-top: 50px;
  padding-bottom: 60px;
  line-height: 25px;
}

.cmn-title2 {
  line-height: 50px;
  font-size: 28px;
  color: #ffffdd;
}

.btn {
  text-align: center;
  height: 37px;
}

.btn a {
  box-shadow: 0px 3px 6px #00000029;
  width: 155px;
  font-size: 14px;
  display: inline-block;
  border-radius: 5px;
  background-color: #b8860bea;
  padding-top: 11px;
  padding-bottom: 11px;
}

.plan-item {
  display: flex;
  border-radius: 8px;
  overflow: hidden;
  margin-left: 30px;
  margin-right: 30px;
  @include overTab {
    margin-left: 10px;
    margin-right: 10px;
  }
}

.plan-item-image {
}

.plan-item-text {
  padding-top: 24px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 50px;
  color: #333333;
  background-color: white;
}

.plan-item-text p:nth-child(1) {
  font-size: 16px;
  line-height: 25px;
}

.plan-item-text p:nth-child(2) {
  font-size: 14px;
  padding-top: 66px;
}

span {
  color: #ff0000;
}

.f {
  padding-top: 95px;
}

.f-list {
  display: flex;

  opacity: 0.9;
  padding-left: 70px;
  padding-right: 70px;
  z-index: 0;
}

.f-item {
  background-color: #fff;
  box-shadow: 0px 3px 6px #00000029;
  width: 33%;
}

.f-item:nth-child(n + 2) {
  margin-left: 30px;
}

.f-item-image {
  padding-top: 15px;
  height: 170px;
  margin: 0 auto;
}

.f-item-image:nth-child(1) {
  width: 160px;
}

.f-item-image:nth-child(2) {
  width: 160px;
}

.f-item-image:nth-child(3) {
  width: 122px;
}

.f-item-text {
  color: #333333;
}

.f-item-text h3 {
  font-size: 28px;
  text-align: center;
  padding-bottom: 40px;
}

.f-item-text p {
  font-size: 18px;
  padding-left: 24px;
  padding-right: 24px;
  line-height: 22px;
}

.blog-cont {
  margin-bottom: 74px;
  margin-left: 70px;
  margin-right: 70px;
}

.blog-item {
  display: flex;
}

.blog-item:nth-child(n + 1) {
  margin-top: 25px;
}

.news {
  margin-right: 30px;
  width: 157px;
  height: 30px;
  background-color: #4d0000;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blog-link {
  text-decoration: underline;
  font-size: 24px;
  flex: 1;
}

.faq-cont {
  color: #333333;
  margin-left: 100px;
  margin-right: 100px;
}

.faq-list {
  margin-bottom: 70px;
}

.question {
  position: relative;
  font-size: 16px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  border: 1px solid #e5e5e5;
  cursor: pointer;
  background-color: #fff;
}

.question::after {
  position: absolute;
  top: 50%;
  right: 10px;
  display: block;
  content: "";
  width: 8px;
  height: 8px;
  border-top: solid 1px #333;
  border-right: solid 1px #333;
  transform: translate(0, -50%) rotate(135deg);
  transform-origin: center;
}

.question.active::after {
  transform: translate(0, -50%) rotate(-45deg);
}

.answer {
  display: none;
  padding: 8px;
  font-size: 16px;
  background-color: #f2f2f2;
  padding-top: 26px;
  padding-bottom: 26px;
  border: 1px solid #e5e5e5;
  line-height: 20px;
}

.answer.active {
  display: block;
}

.footer {
  background-color: #4d0000;
  font-size: 16px;
}

.footer-logo {
  margin: 0 auto;
  width: 188px;
}

.footer-nav-list {
  display: flex;
  justify-content: space-around;
  padding-top: 62px;
  padding-bottom: 62px;
}

.footer p {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 42px;
}

@media only screen and (max-width: 767px) {
  .features-item {
    display: block;
  }

  .features-item-image {
    width: 100%;
  }

  .features-item-text {
    width: 100%;
  }

  .btn {
    margin-bottom: 50px;
  }

  .f-list {
    display: block;
  }

  .f-item {
    background-color: #fff;
    box-shadow: 0px 3px 6px #00000029;
    width: 100%;
  }

  .f-item:nth-child(n + 2) {
    margin-left: 0px;
    margin-top: 54px;
  }

  .f-item-text p {
    padding-bottom: 63px;
  }

  .blog-cont {
    margin-left: 13px;
    margin-right: 13px;
  }

  .blog-item {
    margin-left: 13px;
    margin-right: 13px;
  }

  .blog-item:nth-child(n + 1) {
    margin-top: 25px;
  }

  .news {
    margin-right: 0px;
    width: 92px;
    text-align: center;
    background-color: #4d0000;
    padding-top: 0px;
    padding-bottom: 0pz;
    font-size: 14px;
  }

  .blog-link {
    margin-left: 30px;
  }

  .question {
    width: 100%;
  }

  .footer-nav-list {
    display: block;
  }

  .footer-nav-item {
    text-align: center;
  }

  .footer-nav-item:nth-child(n + 2) {
    margin-top: 20px;
  }

  .faq-cont {
    margin-left: 0px;
    margin-right: 0px;
  }

  .question {
    padding-left: 0px;
    padding-right: 0px;
  }

  .answer {
    padding-left: 0px;
    padding-right: 0px;
  }
}
